services:
#  bde.mailgun:
#    class: Mailgun\Mailgun
#    arguments: [%mailgun_api%]

  bde.main.mailer_service:
    class: BdeReventBundle\Mail\MailerService
    arguments: [@bde.revent.token_service, %host%, @doctrine.orm.entity_manager, @twig, @router, %mailgun_key%, %mailgun_domain% ]
  bde.revent.token_service:
    class: BdeReventBundle\Mail\TokenService
    arguments: [ %secret% ]
  bde.revent.invite_twig:
    class: BdeReventBundle\Helpers\InviteLink
    arguments: [ @bde.revent.token_service ]
    tags:
      - { name: twig.extension }