{% extends "::base.html.twig" %}

{% block title %}BdeReventBundle:ParticipantsManager:resendMail{% endblock %}

{% block body %}
<h1>Welcome to the ParticipantsManager:resendMail page</h1>
{% endblock %}
