{% extends "::public.html.twig" %}

{% block title %}Billetterie{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="page-header">
                <h1>Erreur</h1>
            </div>
            <p>Il semble que votre code n'est pas valide, si vous pensez que c'est une erreur, contactez <b>accueil.gala&nbsp;(at)&nbsp;bde-insa-lyon.fr</b>
            </p>
        </div>
    </div>
{% endblock %}
