{% extends "::public.html.twig" %}

{% block title %}Billetterie{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-4 col-md-4 alert alert-danger">
            <p><b>Erreur ! </b> Votre lien est déjà utilisé dans une autre fenêtre.<br>Si vous pensez que c'est une
                erreur&nbsp;:</p>
            <ul>
                <li>Essayez de réactualiser la page d'ici une petite&nbsp;minute</li>
                <li>Contactez <b>accueil.gala&nbsp;(at)&nbsp;bde-insa-lyon.fr</b></li>
            </ul>
        </div>
    </div>
{% endblock %}
