{% extends "::public.html.twig" %}

{% block title %}//Invitez{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Invitez
                    <small>Envoyez des invitations à vos proches</small>
                </h1>
            </div>
            <p>Pour inviter une personne, renseignez son nom, prénom et adresse email et nous lui enverrons un mail
                d'invitation de votre part.</p>
        </div>
    </div>
{% endblock %}
