{% extends "::public.html.twig" %}

{% block title %}Liste d'attente{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        div.invite {
            width: 650px;
            margin: 0 auto;
        }

        div.submit-button {
            width: 150px;
            margin: 0 auto;
        }

        div.invite .form-group {
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 10px;
        }

        ul.text-error {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Liste d'attente
                    <small>Votre Pack L n'est pas loin ...</small>
                </h1>
            </div>
            <p>Les Packs L ont été victimes de leur succès, cependant, des places peuvent se libérer.</p>
            <p>Vous pouvez vous inscrire sur la liste d'attente du Gala 20.</p>
        </div>
        {% if on_wait %}
            <div class="col-md-12 text-info" style="text-align: center">
                Vous êtes n°{{ rank }} sur liste d'attente, nous vous contacterons dès qu'il y aura des places
            </div>
        {% else %}
            <div class="col-md-6 col-md-offset-3" style="text-align: center">
                <form name="bdereventbundle_waitingticket" method="post" action="" class="form-horizontal" role="form">
                    <div id="bdereventbundle_waitingticket">
                        <div class="form-group">
                            <label class="control-label col-lg-2 required" for="bdereventbundle_waitingticket_phone">Téléphone</label>
                            <div class="col-lg-10">
                                <input type="tel" id="bdereventbundle_waitingticket_phone"
                                       name="bdereventbundle_waitingticket[phone]" required="required"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2 required" for="bdereventbundle_waitingticket_amount">Nombre
                                de places</label>
                            <div class="col-lg-10">
                                <input type="number" max="7" min="1" step="1" id="bdereventbundle_waitingticket_amount"
                                       name="bdereventbundle_waitingticket[amount]" required="required"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" id="bdereventbundle_waitingticket_save"
                                        name="bdereventbundle_waitingticket[save]"
                                        class="save btn-block btn btn-primary">M'inscrire sur la liste
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
